/.DS_store/

/node_modules/

//   constructor(board, el){}
        setupBoard() {
        let board = document.getElementsByClassName(el);
            let boardPositions = []
            let ul = document.createElement("ul")



            boardPositions.forEach((pos) => {
                let li = document.createElement("li");
                li.innerText = pos;
                li.dataset.id = `${[pos]}`;
                ul.appendChild(li);
                board.appendChild(ul);
        });
    }
}

