@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

// @media screen {min-width: none: ;
    
// }


.wrapper{
    max-width: 960px;
    display: flex;
    flex: block;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.game-name{
    font-family: 'Permanenet Marker', 'Permanent Marker';
    font-size: 8vw;
    // padding-left: %;
    // font-size: 6REM;
}

ul{
    display: grid;
    padding: 2px;
    gap: 2px;
    grid-template-columns: repeat(5, minmax(50px, 1fr));
    grid-template-rows: repeat(5, minmax(50px, 1fr));
    color: white;
    list-style-type: none;
    align-items: center;
    max-width: 625px; 
    background-color: black;
}
li {
    aspect-ratio: 1/1;
    border: .5em solid green;
    display: flex;
    align-items: center;
    justify-content: center;

}

.true {
    background-color: white;
}
