@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-color: peachpuff;

}
.game-name{
    display: flex;
    color: #000000fa;
    font-size: 100px;
    justify-content: center;
    font-family: 'Permanenet Marker', 'Permanent Marker';

}

ul {
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    color: green;
    padding: 20px;
    list-style-type: none;
    width: 625px;
    display: grid;
    grid-template-columns: repeat(5, 125px);
    // grid-template-columns: repeat(5, auto-fit, minmax(100px, 1fr));
    // grid-template-rows: repeat(5, auto-fit, minmax(100px, 1fr));
    
}
        // 125px 125px 125px 125px 125px);
        // 
// ul > 
.gameboard{
    display: flex;
    justify-content: center;
}

li {
    width: 100px;
    height: 100px;
    border: 12px solid green;
    background-color: white;
    text-align: center;
    margin: auto;
}