body{
    background-color: peachpuff;
}
.wrapper{
    max-width: 960px;
    display: flex;
    flex: shrink;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Permanenet Marker', 'Permanent Marker';
}
#header {
    align-items: stretch;
}
.game-name{
    font-size: 8vw;
    z-index: 200

}
#about {
    padding-top: 2%;
}

ul{
    display: grid;
    padding: 2px;
    gap: 2px;
    grid-template-columns: repeat(5, minmax(50px, 1fr));
    grid-template-rows: repeat(5, minmax(50px, 1fr));
    color: white;
    list-style-type: none;
    align-items: center;
    max-width: 625px; 
    background-color: black;
}
li {
    aspect-ratio: 1/1;
    border: .5em solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
li.boardpositions > * {
    width: 50%;
    text-align: center;
}

.true {
    background-color: white;
}
